<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Introduce</title>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <style>
        h3{
            color:purple;
        }
    </style>
</head>
<body>
<div class="Headline" align="center">
    <h1>Introduce</h1>
</div>
<div class="Profile" align="center">
    <h3>Profile</h3>
    <b>단국대학교 소프트웨어학과 32172041 서상욱</b> <br>
    Email : 32172041@dankook.ac.kr <br>
</div>

<div class="Introduce" align="center">
    <h3>Introduce</h3>
    안녕하세요, 개발자가 되고 싶은 서상욱입니다.
</div>

<h3></h3>
</body>
</html>